body{
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
}

section{
  margin: 20px;
  padding: 20px;
  color: #060026;
}

svg {
  padding: 20px;
}

rect {
  fill: #060026;
}

text {
  fill: black;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  text-align: center;
}

.label {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  fill: black;
  z-index: 10;
}

.tooltip {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  width: 100px;
  height: 28px;
  pointer-events: none;
  font-size: small;
}

.legend_label {
  font-size: 12px;
}
