body{
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  border: red solid 2px;
}
section{
  margin: 20px;
  padding: 20px;
  color: #060026;
}
#wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#graphicOne, #graphicTwo{
  display: flex;
  flex-direction: column;
  max-height: 600px;
  text-align: center;
}
#graphicTwo{
  margin-left: 80px;
}
#byte_freq{
  padding: 0 19px 0 0;
  margin-left: -12px;
}
svg {
  padding: 20px;
  border: purple solid 2px;
}
rect {
  fill: #060026;
}

text {
  fill: black;
  font-family: 'Josefin Sans', sans-serif;
}

text.yAxis {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  fill: #060026;
  z-index: 10;
}

.label {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  fill: black;
  z-index: 10;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  font-size: small;
}

.legend_label{
  font-size: 12px;
}
